
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

div {
    text-align: center;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    padding: 20px;
    position: relative;
}

h1 {
    margin-bottom: 20px;
    color: #333;
    font-weight: 500;
}

iframe {
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
    height: 60vh;
}

#countdown {
    font-size: 1.2em;
    color: #3498db; 
    font-weight: 500;
}

@media (max-width: 600px) {
    iframe {
        height: 50vh; 
    }
}

