<!DOCTYPE html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Oops!</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" />
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='error.css') }}" />
</head>

<body>
    <h1>Oops! Something went wrong.</h1>
    <h2>It seems that an error has occurred.</h2>
    <h3>Try refreshing the page, and if the problem persists make sure to contact us! </h3>
    <p>{{ error }}</p>
    <a href="{{ url_for('home') }}">Go back to the home page</a>
</body>
