<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Omen Demo</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" />
</head>

  <body style="position: fixed; left: 0px; right: 0px; top: 0px; bottom: 0px; overflow: hidden; margin: 0; padding: 0;">
    <canvas id="canvas" style="width: 100%; height: 100%; padding: 0; margin: 0;"></canvas>

    <div class="frosted-glass unselectable">
      <p class="text">Omen Live Demo</p>
      <button class="frosted-button"><i class="fas fa-play"></i>Launch Instance</button>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
