<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Your Instance</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" />
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='instance.css') }}" />
    <script src="{{ url_for('static', filename='timeout.js') }}"></script>
</head>
  <body>
    <div>
        <h1>OMEN Live Demo</h1>
        <iframe src="http://yonchukku.dev" id="frame" width="100%" height="100%"></iframe>
        <p id="countdown">You are not supposed to be seeing this X_x</p>
    </div>
  </body>
</html>
